/.idea/ITS_prod.iml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_14_01_2026_15_35_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_14_01_2026_15_35__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
